<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144419899830-e49saifbrav7t637f9qmj9qil6j3e42j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144419899830-e49saifbrav7t637f9qmj9qil6j3e42j</string>
	<key>API_KEY</key>
	<string>AIzaSyDYm2OoBkpNN0de517jy6C9ivHz6ToLURM</string>
	<key>GCM_SENDER_ID</key>
	<string>144419899830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holland.flashStaff.staging</string>
	<key>PROJECT_ID</key>
	<string>flashpos-cd12e</string>
	<key>STORAGE_BUCKET</key>
	<string>flashpos-cd12e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144419899830:ios:31ce726a014c0ac03e5917</string>
</dict>
</plist>